In [1]:
print("Hello World!")

Hello World!

In [2]:
print(1+1)

2

In [16]:
name = "Chandru"
Name = "M D"
print(name);print(Name)

Chandru
M D

In [13]:
age = 19
if age >18:
    print("You're eligible to vote")
print(age)

You're eligible to vote
19

In [15]:
x=10;y=90;z=x+y;print(z)

100

In [18]:
age = 24    #integer variable
name = "Chandru"  #string variable
print("My name is", name, "and my age is", age)

My name is Chandru and my age is 24

In [21]:
print(type(age))

print(type(name))

<class 'int'>
<class 'str'>

In [22]:
a = 100

In [23]:
name = "Sweety Omana"

In [28]:
name_1 = "Chandru"
age = 24
height=6.0
weight = 85.5
is_married = False

In [25]:
print(age)

24

In [26]:
print(name)

Sweety Omana

In [29]:
print(name_1)

Chandru

In [30]:
print(is_married)

False

In [31]:
print(height)

6.0

In [32]:
first_name = "Chandru"
last_name = "M D"
full_name = first_name + " " + last_name
print(full_name)

Chandru M D

In [33]:
2age = 25

SyntaxError: invalid decimal literal (663691395.py, line 1)

In [34]:
first-name

NameError: name 'first' is not defined

In [35]:
@last

_IncompleteInputError: incomplete input (520145054.py, line 1)

In [36]:
age = 90
print(type(age))
age_str = str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [37]:
#Dynamic Typing in Python
var = 10
print(var, type(var))
var = "Chandru"
print(var, type(var))
var = 3.14
print(var, type(var))

10 <class 'int'>
Chandru <class 'str'>
3.14 <class 'float'>

In [38]:
age = int(input("Enter your age: "))
print("Your age is:", age)

Your age is: 18

In [39]:
#simple calculator
num1 = float(input("Enter first number: ")) 
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 30.0
Difference: 20.0
Product: 125.0
Quotient: 5.0

In [41]:
#arthemtic operations
a = 10
b = 20
c = a + b
print(c)

30

In [42]:
a = 100
b = 55
c = a - b
print(c)

45

In [43]:
a = 100
b = 55
c = a * b
print(c)

5500

In [45]:
a = 100
b = 7.9
c = a / b
print(c)

12.658227848101266

In [47]:
a = 100
b = 7.9
c = a // b
print(c)

12.0

In [48]:
a = 10
b = 5
c = a % b
print(c)

0

In [49]:
print(a**b)

100000

In [1]:
print("Chandru")

Chandru

In [3]:
##Conditional Statements in Python
##if-else
##if-elif-else

In [4]:
#if- statement
age = 18
if age >= 18:
    print("You are eligible to vote.")
    print("Please cast your vote wisely.")

You are eligible to vote.
Please cast your vote wisely.

In [5]:
#if-else
age = 18
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

In [6]:
age = int(input("Enter your age:"))
if age >=18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are eligible to vote.

In [10]:
age = 16
if age >=18:
    print("You are eligible to vote.") # why nothing is printed? because the condition is false

In [11]:
age = 16
if age >=18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote yet.")

You are not eligible to vote yet.

In [12]:
#elif
age = int(input("Enter your age:"))
if age < 12:
    print("you are a child.")
elif age < 18:
    print("you are a teenager.")
else:
    print("you are an adult.")

you are an adult.

In [15]:
num = float(input("Enter a number:"))
if num >= 0:
    print("The number is positive.")
    if num%2==0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is zero or negative.")

The number is positive.
The number is odd.

In [16]:
#practice problems

In [17]:
year = int(input("Enter a year: "))
if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")
else:
    print(year, "is not a leap year.")

2026 is not a leap year.

In [18]:
#simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == '+':
    result = num1 + num2
    print("Sum:", result)
elif operation == '-':
    result = num1 - num2
    print("Difference:", result)
elif operation == '*':
    result = num1 * num2
    print("Product:", result)
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
        print("Quotient:", result)
    else:
        print("Error: Division by zero is not allowed.")
else:
    print("Invalid operation.")

Error: Division by zero is not allowed.

In [19]:
age = int(input("Enter you age: "))
if age <12:
    print("You are a child and you are allotted to watch cartoons.")
elif age <18:
    print("You are a teenager and you are allotted to watch teen movies.")
elif age <60:
    print("You are an adult and you are allotted to watch general movies.")
else:
    print("You are a senior citizen and you are allotted to watch classic movies.")

You are an adult and you are allotted to watch general movies.

In [23]:
age = int(input("Enter age: "))
is_student = input("Are you a student? (yes/no): ").lower()

if age < 12:
    price = 50
elif age >= 60:
    price = 60
else:
    if is_student == "yes":
        price = 80
    else:
        price = 100

print("Ticket Price: ₹", price)

Ticket Price: ₹ 100

In [24]:
#for loop

In [26]:
for i in range(11): #range is a function that generates a sequence of numbers from 0 to 10
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [27]:
range(0,11)

range(0, 11)

In [31]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [34]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [36]:
#str
my_string = "Hello, World!"
for char in my_string:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [37]:
name = "Chandru"
for char in name:
    print(char)

C
h
a
n
d
r
u

In [38]:
#while lop

In [40]:
count = 0
while count < 5:
    print(count)
    # count = count + 1
    count += 1

0
1
2
3
4

In [41]:
count = 0
while count%2==0:
    print(count)
    count += 1

0

In [42]:
#break statement

In [43]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [44]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [45]:
for i in range(10):
    pass

In [46]:
for i in range(5):
    if i ==3:
        continue
    print(i)

0
1
2
4

In [47]:
for i in range(4):
    for j in range(3):
        print(f"i:{i}, j:{j}")

i:0, j:0
i:0, j:1
i:0, j:2
i:1, j:0
i:1, j:1
i:1, j:2
i:2, j:0
i:2, j:1
i:2, j:2
i:3, j:0
i:3, j:1
i:3, j:2

In [48]:
#first n natural numbers

In [49]:
n = 10
sum = 0
count = 1
while count <= n:
    sum += count
    count += 1
print(f"Sum of first {n} natural numbers is: {sum}")

Sum of first 10 natural numbers is: 55

In [50]:
n= 10
sum = 0
count = 1
for i in range(11):
    sum = sum + i

print(f"Sum of first {n} natural numbers is: {sum}")

Sum of first 10 natural numbers is: 55

In [51]:
#prime number

In [52]:
for num in range(1,101):
    if num >1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [53]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not Prime")
else:
    is_prime = True
    for i in range(2,num):
        if num%i==0:
            is_prime = False
            break
    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Not Prime

In [54]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not Prime")
else:
    is_prime = True
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            is_prime = False
            break
    if is_prime:
        print("Prime")
    else:
        print("Not Prime")

Not Prime