# OOPS in Python

In [1]:
# Python treats everything as a object

In [2]:
student1_name="Chandru"
student1_address="Neyveli"
student1_phone=12345
student1_age=26

In [3]:
student2_name="Kadhirvel"
student2_address="Mayiladudurai"
student2_phone=12345
student2_age=26

In [4]:
student1_name

'Chandru'

In [5]:
student2_name

'Kadhirvel'

In [6]:
student2_age

26

## Create a Class

In [7]:
class Student_info:
    def __init__(self,name,address,phone,age):
        self.name=name
        self.address=address
        self.phone=phone
        self.age=age

In [25]:
Student_1=Student_info("Kadhirvel","Mayiladudurai",45638,20)

In [9]:
Student_1.name

'Kadhirvel'

In [10]:
Student_1.address

'Mayiladudurai'

In [11]:
Student_1.age

20

In [12]:
Student_1.phone

45638

In [24]:
class Student_info:
    def __init__(self,name,address,phone,age):
        self.name=name
        self.address=address
        self.phone=phone
        self.age=age
    def greet(self):
        print(f"Hello {self.name} welcomes you, you are number is {self.phone}, you are age is {self.age}")

    def increased_by_10(self):
        self.age= self.age + 10
        print(self.age)

In [19]:
Student_1.greet()

Hello Kadhirvel welcomes you, you are number is 45638, you are age is 20

In [23]:
Student_1.age

20

In [31]:
Student_1.increased_by_10()

40

## Object Oriented Programming (OOP) is a programming paradigm that relies on the concept of class and objects

## CLass is a blue print or code template definition of the variables and methods

## Object is instance of a class

## to create a class using class keyword along with class name, after that we have to define the attributes and methods

## self variable is used to represent the instance of class

##  Movie Ticket_App

In [8]:
class ticket:
    def __init__(self,name,age,num_of_tickets,movie_name):
        self.name=name
        self.age=age
        self.num_of_tickets=num_of_tickets
        self.movie_name=movie_name
        
    def ticket_price(self): # 3
        if self.age < 18:
            ticket_price= 100
        elif self.age > 60:
            ticket_price= 120
        else:
            ticket_price=150
        total_price=ticket_price * num_of_tickets
        return total_price
        
    def Book_ticket(self): # 2
        total_price=self.ticket_price()

        print(f"Thank you {self.name} you have booked {self.num_of_tickets} tickets for {self.movie_name}")
        print(f"Total amount is Rs.{total_price}")

if __name__=="__main__": #1
    name=input("Enter the name")
    age=int(input("Enter the age"))
    num_of_tickets=int(input("Enter no.of tickets"))
    movie_name=input("Enter the movie name")  

    customer=ticket(name,age,num_of_tickets,movie_name)
    customer.Book_ticket()

Enter the name Razeeth
Enter the age 18
Enter no.of tickets 8
Enter the movie name Kanguva

Thank you Razeeth you have booked 8 tickets for Kanguva
Total amount is Rs.1200

In [65]:
class Software_Emp:
    def __init__(self,Name,Emp_id,Designation,Salary,Address):
        self.Name=Name
        self.Emp_id=Emp_id
        self.Designation=Designation
        self.__Salary=Salary
        self.Address=Address

In [76]:
Emp_1=Software_Emp("Chandru","001","DS",90000,"Bangalore")

In [77]:
Emp_2=Software_Emp("Kadhirvel","002","SE",100000,"Mumbai")

In [90]:
Emp_3=Software_Emp("Boominath","002","SD",100000,"Rajasthan")

In [79]:
Emp_4=Software_Emp("Lokesh","002","SE-3",100000,"US")

In [37]:
Emp_1.Salary

'90000'

In [38]:
Emp_2.Designation

'SE'

In [39]:
Emp_3.Address

'Rajasthan'

In [40]:
Emp_4.Name

'Lokesh'

# ENCAPSULATION

## Encapsulation is used to restrict the data members and functions in a class

In [130]:
Emp_1.Salary   #because salary is Encapsulated.

AttributeError: 'Software_Emp' object has no attribute 'Salary'

In [51]:
Emp_2.Salary

AttributeError: 'Software_Emp' object has no attribute 'Salary'

In [52]:
Emp_3.Salary

AttributeError: 'Software_Emp' object has no attribute 'Salary'

In [55]:
Emp_4.Salary

AttributeError: 'Software_Emp' object has no attribute 'Salary'

In [103]:
class Software_Emp:

    job_type = "Software Engineer"


    
    def __init__(self,Name,Emp_id,Designation,Salary,Address): #instant_variable
        self.Name=Name
        self.Emp_id=Emp_id
        self.Designation=Designation
        self.__Salary=Salary  #Encapsulation Method
        self.Address=Address

    def show_Salary(self,passcode):  #Getter
        if passcode =="Chan@1008":
            print(f"Salary of {self.Name} is {self.__Salary}")
        else:
            print("Access Denied")
    def increment_Salary(self,passcode): #Setter
        add_Salary=20000    #  local_variable
        if passcode == "Code@100":
            self.__Salary=self.__Salary+add_Salary
        else:
            print("Get lost")

In [101]:
Emp_4=Software_Emp("Lokesh","002","SE-3","100000","US")

In [74]:
Emp_4.show_Salary("CHand#22")

Access Denied

In [75]:
Emp_4.show_Salary("Chan@1008")

Salary of Lokesh is 100000

## Getter = A method that allows you to access an attribute in a given class

## Setter = setters are methods used to set or update the value of an attribute in a class.

In [82]:
Emp_3.show_Salary("Chan@1008")

Salary of Boominath is 100000

In [93]:
Emp_3.increment_Salary("Code@100")

In [94]:
Emp_3.show_Salary("Chan@1008")

Salary of Boominath is 140000

## instant variable = (Object variable) value of the variables changes object to object.

## local variable = (Method variables) varibles which are declared in method for temporary use.

In [102]:
Emp_4.job_type

'Software Engineer'

## global variables (class variables) value of the variables does not changes object to object.

In [132]:
class Software_Emp:

    job_type = "Software Engineer"


    
    def __init__(self,Name,Emp_id,Designation,Salary,Address,Age): #instant_variable
        self.Name=Name
        self.Emp_id=Emp_id
        self.Designation=Designation
        self.__Salary=Salary  #Encapsulation Method
        self.Address=Address
        self.Age=Age

    def show_Salary(self,passcode):  #Getter
        if passcode =="Chan@1008":
            print(f"Salary of {self.Name} is {self.__Salary}")
        else:
            print("Access Denied")
    def increment_Salary(self,passcode): #Setter
        add_Salary=20000    #  local_variable
        if passcode == "Code@100":
            self.__Salary=self.__Salary+add_Salary
        else:
            print("Get lost")


class Hardware_Emp(Software_Emp):   # Hardware_Emp is inherited the Software_Emp from previous class.

    job_type="Hardware"

    def __init__(self,Name,Emp_id,Designation,Salary,Address,Age,Insur):
        Software_Emp. __init__(self,Name,Emp_id,Designation,Salary,Address,Age)
        self.__Salary=Salary
        self.__Insur=Insur

    def increment_Salary(self,passcode): #Setter
        add_Salary=20000    #  local_variable
        if passcode == "Code@100":
            self.__Salary=self.__Salary+add_Salary
            self.__Insur=self.__Insur + 30000
        else:
            print("Get lost")


    def show_Insur(self,passcode):  #Getter
        if passcode =="Chan@1008":
            print(f"Insurance of {self.Name} is {self.__Insur}")
        else:
            print("Access Denied")

In [133]:
Emp_HW_1=Hardware_Emp("Johnny",28,"CTO",15000000,"Delhi",25,500000)

In [123]:
Emp_HW_1.show_Salary("Chan@1008")

Salary of Johnny is 15000000

In [124]:
Emp_HW_1.Name

'Johnny'

In [125]:
Emp_HW_1.Designation

'CTO'

In [126]:
Emp_HW_1.Address

'Delhi'

In [127]:
Emp_HW_1.Age

25

In [129]:
Emp_HW_1.Emp_id

28

In [134]:
Emp_HW_1.show_Insur("Chan@1008")

Insurance of Johnny is 500000

In [135]:
Emp_HW_1.show_Salary("Chan@1008")

Salary of Johnny is 15000000

## Polymorphism = the same entity (function or object ) behaves differently in different scenarios.

## Inheritance = it can be defined as the process where one class acquires the properties of another class.