# DATA CLEANING

In [1]:
import pandas as pd

In [2]:
sales_2017=pd.read_csv("Sales Transactions-2017.csv")
sales_2018=pd.read_csv("Sales Transactions-2018.csv")
sales_2019=pd.read_csv("Sales Transactions-2019.csv")

In [3]:
sales_df=pd.concat([sales_2017,sales_2018,sales_2019])

In [4]:
sales_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [5]:
sales_df.shape

(111206, 9)

In [6]:
sales_df.dtypes

Date              object
Voucher           object
Party             object
Product           object
Qty               object
Rate              object
Gross             object
Disc              object
Voucher Amount    object
dtype: object

In [8]:
sales_df.isna().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

# DROPPING NULL VALUES

In [9]:
sales_df=sales_df.dropna(subset="Qty")

In [11]:
sales_df.isna().sum()

Date                 34
Voucher               0
Party                34
Product              34
Qty                   0
Rate                  1
Gross                 1
Disc              93052
Voucher Amount    71089
dtype: int64

In [12]:
sales_df=sales_df.dropna(subset="Date")

In [13]:
sales_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",NaN,NaN
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",NaN,NaN
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",NaN,NaN
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",NaN,NaN
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN

In [15]:
sales_df.isnull().sum()

Date                  0
Voucher               0
Party                 0
Product               0
Qty                   0
Rate                  1
Gross                 1
Disc              93052
Voucher Amount    71089
dtype: int64

In [69]:
del sales_df["Voucher Amount"]  #DEL UNWANTED DATA

KeyError: 'Voucher Amount'

In [17]:
sales_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN
...,...,...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",NaN
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",NaN
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",NaN
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",NaN
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN

In [18]:
sales_df.isna().sum()

Date           0
Voucher        0
Party          0
Product        0
Qty            0
Rate           1
Gross          1
Disc       93052
dtype: int64

In [21]:
sales_df["Disc"]=sales_df["Disc"].fillna(0)

C:\Users\chandrumd\AppData\Local\Temp\ipykernel_9072\2698938870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df["Disc"]=sales_df["Disc"].fillna(0)

In [22]:
sales_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0
...,...,...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0

In [24]:
sales_df.isna().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       1
Gross      1
Disc       0
dtype: int64

In [25]:
sales_df=sales_df.dropna()

In [28]:
sales_df.isnull().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
Gross      0
Disc       0
dtype: int64

In [29]:
sales_df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0
...,...,...,...,...,...,...,...,...
19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0
19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0
19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0
19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0

In [30]:
sales_df.shape

(98614, 8)

In [31]:
sales_df.dtypes

Date       object
Voucher    object
Party      object
Product    object
Qty        object
Rate       object
Gross      object
Disc       object
dtype: object

In [32]:
sales_df.to_csv("Sales.csv")

In [33]:
df=pd.read_csv("Sales.csv")

In [34]:
df

,Unnamed: 0,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0
1,1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
2,2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0
3,3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
4,4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0
...,...,...,...,...,...,...,...,...,...
98609,19167,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0
98610,19168,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0
98611,19169,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0
98612,19170,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0
98613,19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0

In [35]:
df.columns

Index(['Unnamed: 0', 'Date', 'Voucher', 'Party', 'Product', 'Qty', 'Rate',
       'Gross', 'Disc'],
      dtype='object')

In [36]:
del df["Unnamed: 0"]

In [37]:
df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0
...,...,...,...,...,...,...,...,...
98609,10/10/2019,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0
98610,10/10/2019,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0
98611,10/10/2019,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0
98612,10/10/2019,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0
98613,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0

In [38]:
df['Date']

0          1/4/2017
1          1/4/2017
2          1/4/2017
3          1/4/2017
4          1/4/2017
            ...
98609    10/10/2019
98610    10/10/2019
98611    10/10/2019
98612    10/10/2019
98613    10/10/2019
Name: Date, Length: 98614, dtype: object

In [40]:
date_formart="%d/%m/%Y"
df['Date']=pd.to_datetime(df["Date"], format=date_formart, errors="coerce")

In [41]:
df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,2017-04-01,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0
1,2017-04-01,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
2,2017-04-01,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0
3,2017-04-01,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0
4,2017-04-01,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0
...,...,...,...,...,...,...,...,...
98609,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0
98610,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0
98611,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0
98612,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0
98613,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0

In [44]:
df['Voucher'].nunique()

10043

In [45]:
df['Disc']

0        0
1        0
2        0
3        0
4        0
        ..
98609    0
98610    0
98611    0
98612    0
98613    0
Name: Disc, Length: 98614, dtype: object

In [49]:
df['Disc']=df['Disc'].replace(" ",",","")

TypeError: NDFrame.replace() takes from 1 to 3 positional arguments but 4 were given

In [47]:
df["Disc"].head(20)

0       0
1       0
2       0
3       0
4       0
5       0
6     100
7     100
8
9
10      0
11
12      0
13
14      0
15
16      0
17      0
18      0
19      0
Name: Disc, dtype: object

In [50]:
df['Disc']=df['Disc'].replace(" ","",regex=True)

In [52]:
df["Disc"]=df["Disc"].replace(",","",regex=True)

In [53]:
df.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty                object
Rate               object
Gross              object
Disc               object
dtype: object

In [54]:
df["Disc"]=pd.to_numeric(df["Disc"])

In [55]:
df.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty                object
Rate               object
Gross              object
Disc              float64
dtype: object

In [56]:
df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,2017-04-01,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",0.0
1,2017-04-01,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",0.0
2,2017-04-01,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",0.0
3,2017-04-01,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",0.0
4,2017-04-01,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",0.0
...,...,...,...,...,...,...,...,...
98609,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",0.0
98610,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",0.0
98611,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",0.0
98612,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",0.0
98613,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",0.0

In [58]:
df["Qty"].head(52)

0            2
1            6
2          500
3            6
4            5
5            1
6          100
7          100
8
9
10           1
11
12           1
13
14           1
15
16           1
17         150
18          10
19          10
20          10
21         200
22           3
23          20
24          50
25          50
26          20
27          30
28           1
29           5
30    1,000.00
31          25
32    2,000.00
33         100
34         100
35           6
36          35
37          25
38    3,000.00
39         210
40           5
41           5
42           2
43           1
44           1
45           1
46           1
47          50
48          50
49          10
50           5
51         300
Name: Qty, dtype: object

In [59]:
df["Qty"]=df["Qty"].replace(" ","",regex=True)

In [61]:
df["Qty"]=df["Qty"].replace(",","",regex=True)

In [62]:
df["Qty"]=pd.to_numeric(df["Qty"])

In [63]:
df.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty               float64
Rate               object
Gross              object
Disc              float64
dtype: object

In [64]:
df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,2017-04-01,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2.0,"1,690.00","3,380.00",0.0
1,2017-04-01,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6.0,"1,620.00","9,720.00",0.0
2,2017-04-01,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500.0,23,"11,500.00",0.0
3,2017-04-01,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6.0,"1,620.00","9,720.00",0.0
4,2017-04-01,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5.0,"1,690.00","8,450.00",0.0
...,...,...,...,...,...,...,...,...
98609,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140.0,26,"3,640.00",0.0
98610,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600.0,8.4,"5,040.00",0.0
98611,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320.0,16,"5,120.00",0.0
98612,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800.0,8.5,"6,800.00",0.0
98613,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400.0,16,"6,400.00",0.0

In [65]:
df["Rate"]=df["Rate"].replace(" ","",regex=True)
df["Rate"]=df["Rate"].replace(",","",regex=True)
df["Rate"]=pd.to_numeric(df["Rate"])

In [66]:
df["Gross"]=df["Gross"].replace(" ","",regex=True)
df["Gross"]=df["Gross"].replace(",","",regex=True)
df["Gross"]=pd.to_numeric(df["Gross"])

In [67]:
df

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc
0,2017-04-01,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2.0,1690.0,3380.0,0.0
1,2017-04-01,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6.0,1620.0,9720.0,0.0
2,2017-04-01,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500.0,23.0,11500.0,0.0
3,2017-04-01,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6.0,1620.0,9720.0,0.0
4,2017-04-01,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5.0,1690.0,8450.0,0.0
...,...,...,...,...,...,...,...,...
98609,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140.0,26.0,3640.0,0.0
98610,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600.0,8.4,5040.0,0.0
98611,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320.0,16.0,5120.0,0.0
98612,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800.0,8.5,6800.0,0.0
98613,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400.0,16.0,6400.0,0.0

In [68]:
df.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty               float64
Rate              float64
Gross             float64
Disc              float64
dtype: object