In [1]:
print("Hello")

Hello

In [2]:
#LIST

In [3]:
friends = ['Kadhirvel','Boominath','Devi','Razeeth','hari krishna','Lokesh']

In [4]:
friends

['Kadhirvel', 'Boominath', 'Devi', 'Razeeth', 'hari krishna', 'Lokesh']

In [5]:
print(friends)

['Kadhirvel', 'Boominath', 'Devi', 'Razeeth', 'hari krishna', 'Lokesh']

In [6]:
friends[0]

'Kadhirvel'

In [7]:
friends[-1]

'Lokesh'

In [8]:
friends[1:]

['Boominath', 'Devi', 'Razeeth', 'hari krishna', 'Lokesh']

In [11]:
friends[1:5]

['Boominath', 'Devi', 'Razeeth', 'hari krishna']

In [17]:
friends[-1]

'Lokesh'

In [18]:
#Modifying the list

In [19]:
friends

['Kadhirvel', 'Boominath', 'Devi', 'Razeeth', 'hari krishna', 'Lokesh']

In [38]:
friends.append("NaveenRaj")

In [39]:
friends[0] = "Sweety"

In [40]:
friends

['Sweety',
 'Omana',
 'Omana',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel',
 'NaveenRaj']

In [24]:
#List methods

In [41]:
friends

['Sweety',
 'Omana',
 'Omana',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel',
 'NaveenRaj']

In [33]:
friends.append("Kadhirvel")

In [34]:
friends

['Sweety ',
 'Omana',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel']

In [35]:
friends.insert(1,'Omana')

In [44]:
friends.append("Razeeth")

In [45]:
friends

['Sweety',
 'Omana',
 'Omana',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel',
 'NaveenRaj',
 'Razeeth']

In [46]:
friends.remove("Razeeth")

In [47]:
friends

['Sweety',
 'Omana',
 'Omana',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel',
 'NaveenRaj']

In [50]:
friends.remove('Omana')

In [51]:
friends

['Sweety',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel',
 'NaveenRaj']

In [52]:
friends.pop()

'NaveenRaj'

In [53]:
friends

['Sweety',
 'Omana',
 'Boominath',
 'Devi',
 'hari krishna',
 'Lokesh',
 'NaveenRaj',
 'Kadhirvel',
 'Kadhirvel']

In [54]:
friends.sort()

In [55]:
friends

['Boominath',
 'Devi',
 'Kadhirvel',
 'Kadhirvel',
 'Lokesh',
 'NaveenRaj',
 'Omana',
 'Sweety',
 'hari krishna']

In [56]:
friends.reverse()

In [57]:
friends

['hari krishna',
 'Sweety',
 'Omana',
 'NaveenRaj',
 'Lokesh',
 'Kadhirvel',
 'Kadhirvel',
 'Devi',
 'Boominath']

In [58]:
friends.clear()

In [59]:
friends

[]

In [60]:
#slicing

In [63]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [67]:
print(numbers[2:5])
print(numbers[1:4])
print(numbers[5:])
print(numbers[::3])
print(numbers[::-1])

[3, 4, 5]
[2, 3, 4]
[6, 7, 8, 9, 10]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
for index, number in enumerate(numbers):
    print(f"Index: {index}, Number: {number}")

Index: 0, Number: 1
Index: 1, Number: 2
Index: 2, Number: 3
Index: 3, Number: 4
Index: 4, Number: 5
Index: 5, Number: 6
Index: 6, Number: 7
Index: 7, Number: 8
Index: 8, Number: 9
Index: 9, Number: 10

In [69]:
#enumerate

In [71]:
lst = []
for x in range(10):
    lst.append(x**3)
print(lst)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [72]:
#list comprehension

In [75]:
[x**3 for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [76]:
sqaures = [num**2 for num in range(10)]

In [77]:
print(sqaures)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
even_num = [num for num in range(10) if num%2 == 0]

In [82]:
print(even_num)

[0, 2, 4, 6, 8]

In [86]:
lst_1 = [1,2,3,4,5]
lst_2 = ['a','b','c','d','e']

pair = zip(lst_1,lst_2)
print(list(pair))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [87]:
lst_1 = [1,2,3,4,5]
lst_2 = ['a','b','c','d','e']

pair = [(i,j) for i in lst_1 for j in lst_2]

In [88]:
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]

In [89]:
#tuple

In [91]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [92]:
num = (1,2,3,4,5,6,7,8,9,10)

In [93]:
type(num)

tuple

In [94]:
print(num[0])
print(num[6])
print(num[4])

1
7
5

In [96]:
print(num[-1])

10

In [97]:
num[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [98]:
num[5:]

(6, 7, 8, 9, 10)

In [99]:
#tuple operations

In [100]:
mixed_tuple = (1, "Hello", 3.14, True, (2,3), [4,5])

In [101]:
mixed_tuple

(1, 'Hello', 3.14, True, (2, 3), [4, 5])

In [102]:
cont = num + mixed_tuple
print(cont)
print(type(cont))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 'Hello', 3.14, True, (2, 3), [4, 5])
<class 'tuple'>

In [103]:
num * 3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10)

In [104]:
mixed_tuple * 2

(1,
 'Hello',
 3.14,
 True,
 (2, 3),
 [4, 5],
 1,
 'Hello',
 3.14,
 True,
 (2, 3),
 [4, 5])

In [106]:
#immutable in nature

In [107]:
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [108]:
md = [1,2,3]
md[0] = 10
md

[10, 2, 3]

In [109]:
md[0] = 'Chandru'

In [110]:
md

['Chandru', 2, 3]

In [111]:
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [112]:
num[6] = '100'

TypeError: 'tuple' object does not support item assignment

In [113]:
#methods

In [114]:
num.count(3)

1

In [115]:
num.index(4)

3

In [116]:
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [118]:
#packeding and unpacking

tpl = 1, "Hello", 3.14, 1024
print(tpl)

(1, 'Hello', 3.14, 1024)

In [120]:
#unpacking

a,b,c,d = tpl
print(a)
print(b)
print(c)
print(d)

1
Hello
3.14
1024

In [121]:
num

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [122]:
first, *middle, last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [123]:
lst = [1,2,3,[4,5,6],[7,8,9,"Hello"]]

In [124]:
lst[0]

1

In [125]:
lst[3]

[4, 5, 6]

In [126]:
lst[4]

[7, 8, 9, 'Hello']

In [127]:
tpl = (1,2,3,(4,5,6),(7,8,9,"Hello"))
tpl[0]

1

In [128]:
tpl[4]

(7, 8, 9, 'Hello')

In [131]:
tpl[4][3]

'Hello'

In [132]:
tpl

(1, 2, 3, (4, 5, 6), (7, 8, 9, 'Hello'))

In [133]:
tpl.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [134]:
#set

In [135]:
my_set = {1,2,3,4,5,6}

In [136]:
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [138]:
del_1=my_set.pop()
print(del_1)

1

In [139]:
my_set

{2, 3, 4, 5, 6, 7}

In [140]:
my_set.add(1)

In [141]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [142]:
type(my_set)

set

In [144]:
my_set.clear()
print(my_set)

set()

In [146]:
# membership test

my_set = {1,2,3,4,5,6,7,8,9,10}
print(3 in my_set)
print(10 in my_set)
print(1000 in my_set)

True
True
False

In [148]:
#union  === combines everything


set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [149]:
# intersection === pull out the common items

In [151]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

inter_set = set1.intersection(set2)

print(inter_set)

{4, 5, 6}

In [152]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [153]:
#difference

In [155]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}


print(set1.difference(set2))

{1, 2, 3}

In [158]:
print(set2.difference(set1))

{8, 9, 7}

In [157]:
#symmetric difference -==== removes the common elements

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [159]:
#dictionary

In [160]:
my_dict = {
    'name':'Chandru','age':23,'location':'India','Occupation':'Self-employed','sex':'male'
}

In [162]:
type(my_dict)

dict

In [163]:
my_dict

{'name': 'Chandru',
 'age': 23,
 'location': 'India',
 'Occupation': 'Self-employed',
 'sex': 'male'}

In [165]:
my_dict['age'] = 100

In [166]:
my_dict

{'name': 'Chandru',
 'age': 100,
 'location': 'India',
 'Occupation': 'Self-employed',
 'sex': 'male'}

In [167]:
print(my_dict['name'])
print(my_dict['Occupation'])

Chandru
Self-employed

In [168]:
print(my_dict.get('age'))
print(my_dict.get('location'))
print(my_dict.get("last_name","Unknown"))

100
India
Unknown

In [169]:
my_dict

{'name': 'Chandru',
 'age': 100,
 'location': 'India',
 'Occupation': 'Self-employed',
 'sex': 'male'}

In [170]:
del my_dict['sex']

In [171]:
my_dict

{'name': 'Chandru',
 'age': 100,
 'location': 'India',
 'Occupation': 'Self-employed'}

In [172]:
#methodsd

In [173]:
key = my_dict.keys()
print(key)

value = my_dict.values()
print(value)

items = my_dict.items()
print(items)

dict_keys(['name', 'age', 'location', 'Occupation'])
dict_values(['Chandru', 100, 'India', 'Self-employed'])
dict_items([('name', 'Chandru'), ('age', 100), ('location', 'India'), ('Occupation', 'Self-employed')])

In [175]:
#shallow copy

In [176]:
my_dict

{'name': 'Chandru',
 'age': 100,
 'location': 'India',
 'Occupation': 'Self-employed'}

In [177]:
mydict_1 = my_dict

In [178]:
mydict_1

{'name': 'Chandru',
 'age': 100,
 'location': 'India',
 'Occupation': 'Self-employed'}

In [179]:
my_dict['name'] = 'Kathiravan'

In [181]:
print(my_dict)
print(mydict_1)

{'name': 'Kathiravan', 'age': 100, 'location': 'India', 'Occupation': 'Self-employed'}
{'name': 'Kathiravan', 'age': 100, 'location': 'India', 'Occupation': 'Self-employed'}

In [182]:
mydict_1 = my_dict.copy()

In [183]:
my_dict['name'] = 'Myna'
print(my_dict)
print(mydict_1)

{'name': 'Myna', 'age': 100, 'location': 'India', 'Occupation': 'Self-employed'}
{'name': 'Kathiravan', 'age': 100, 'location': 'India', 'Occupation': 'Self-employed'}

In [184]:
#iterations

In [185]:
for key in my_dict.keys():
    print(key)

name
age
location
Occupation

In [186]:
for value in my_dict.values():
    print(value)

Myna
100
India
Self-employed

In [187]:
for key,value in my_dict.items():
    print(f"{key}:{value}")

name:Myna
age:100
location:India
Occupation:Self-employed

In [194]:
students = {
    'student1':{'name':'Chandru','age':12,'loc':'IND'},
    'student2':{'name':'Sweety','age':8,'loc':'UAE'},
    'student3':{'name':'Omana','age':7,'loc':'USA'},
    'student4':{'name':'Kavitha','age':13,'loc':'IND'}
}

In [195]:
students.values()

dict_values([{'name': 'Chandru', 'age': 12, 'loc': 'IND'}, {'name': 'Sweety', 'age': 8, 'loc': 'UAE'}, {'name': 'Omana', 'age': 7, 'loc': 'USA'}, {'name': 'Kavitha', 'age': 13, 'loc': 'IND'}])

In [196]:
students.keys()

dict_keys(['student1', 'student2', 'student3', 'student4'])

In [198]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Chandru', 'age': 12, 'loc': 'IND'}
name:Chandru
age:12
loc:IND
student2:{'name': 'Sweety', 'age': 8, 'loc': 'UAE'}
name:Sweety
age:8
loc:UAE
student3:{'name': 'Omana', 'age': 7, 'loc': 'USA'}
name:Omana
age:7
loc:USA
student4:{'name': 'Kavitha', 'age': 13, 'loc': 'IND'}
name:Kavitha
age:13
loc:IND