In [1]:
print('Chandru')

Chandru

In [2]:
num=9
if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [3]:
def even_or_odd(num):
    if num%2==0:
        return "Even"
    else:
        return "Odd"

In [4]:
even_or_odd(100)

'Even'

In [5]:
def add(a,b):
    return a+b

In [6]:
add(45,85)

130

In [7]:
def greet(name):
    return f"Hello, {name}!"

In [8]:
greet("Sweety")

'Hello, Sweety!'

In [9]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

In [10]:
def print_numbers(*args):
    for num in args:
        print(num)

In [11]:
print_numbers(1,2,3,4,5)

1
2
3
4
5

In [13]:
def print_details(**chandru):
    for key,value in chandru.items():
        print(f"{key}: {value}")

In [14]:
print_details(name="Chandru", age=25, city="Chennai")

name: Chandru
age: 25
city: Chennai

In [15]:
print_numbers(1,2,3,4,5)
print_numbers(10,20,30)

1
2
3
4
5
10
20
30

In [16]:
print_details(name="sweety", age=30, country="USA")

name: sweety
age: 30
country: USA

In [27]:
def print_details(*md, **chandru):
    for val in md:
        print(f"P.S : {val}")
    for key,value in chandru.items():
        print(f"{key}: {value}")

In [28]:
print_numbers(1,2,3,4,5,"chandru","sweety")

1
2
3
4
5
chandru
sweety

In [33]:
print_details("Hello", "Welcome", first_name="sweety", age=30, country="USA")

P.S : Hello
P.S : Welcome
first_name: sweety
age: 30
country: USA

In [30]:
print_details("Hello", "Welcome", first_name="sweety", age=30)

P.S : Hello
P.S : Welcome
first_name: sweety
age: 30