## PY DS

In [1]:
#built in data structures

In [2]:
#to collect multiple data in a structure

In [3]:
# 4 data structures

In [4]:
"""
1.list
2.tuple
3.dictionary
4.set
"""

'\n1.list\n2.tuple\n3.dictionary\n4.set\n'

In [5]:
#LIST

In [6]:
34,67,45,55,100,56

(34, 67, 45, 55, 100, 56)

In [7]:
type(34,67,45,55,100,56)

TypeError: type() takes 1 or 3 arguments

In [8]:
students_marks = 34,67,45,55,100,56

In [9]:
type(students_marks)

tuple

In [10]:
lst = []

In [11]:
type(lst)

list

In [12]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [13]:
type(lst)

list

In [21]:
cart = ["apple","orange","grapes","green_chilli",100,6.32,True]

In [22]:
cart

['apple', 'orange', 'grapes', 'green_chilli', 100, 6.32, True]

In [23]:
type(cart)

list

In [17]:
cart[0]

'apple'

In [18]:
cart[1]

'orange'

In [19]:
cart[2]

'grapes'

In [20]:
cart[3]

'green_chilli'

In [24]:
len(cart)

7

In [26]:
cart

['apple', 'orange', 'grapes', 'green_chilli', 100, 6.32, True]

In [27]:
cart[1:4]

['orange', 'grapes', 'green_chilli']

In [28]:
cart[:]

['apple', 'orange', 'grapes', 'green_chilli', 100, 6.32, True]

In [29]:
cart[-1]

True

In [30]:
cart[-2]

6.32

In [31]:
cart[0]

'apple'

In [32]:
cart[2] = "Pomgranate"

In [33]:
cart

['apple', 'orange', 'Pomgranate', 'green_chilli', 100, 6.32, True]

In [34]:
cart.append("Watermelon")

In [35]:
cart

['apple',
 'orange',
 'Pomgranate',
 'green_chilli',
 100,
 6.32,
 True,
 'Watermelon']

In [36]:
#set

In [41]:
empty_set = set()

In [42]:
type(empty_set)

set

In [43]:
empty_set = {"chandru",'Omana','devi','lokesh','bala',100,3.14,True,'Apple','bala'}

In [44]:
type(empty_set)

set

In [45]:
empty_set

{100, 3.14, 'Apple', 'Omana', True, 'bala', 'chandru', 'devi', 'lokesh'}

In [46]:
empty_set[0]

TypeError: 'set' object is not subscriptable

In [47]:
 empty_set

{100, 3.14, 'Apple', 'Omana', True, 'bala', 'chandru', 'devi', 'lokesh'}

In [48]:
empty_set.add("Boomi")

In [49]:
empty_set

{100,
 3.14,
 'Apple',
 'Boomi',
 'Omana',
 True,
 'bala',
 'chandru',
 'devi',
 'lokesh'}

In [50]:
empty_set.discard(100)

In [51]:
empty_set

{3.14, 'Apple', 'Boomi', 'Omana', True, 'bala', 'chandru', 'devi', 'lokesh'}

In [52]:
cart

['apple',
 'orange',
 'Pomgranate',
 'green_chilli',
 100,
 6.32,
 True,
 'Watermelon']

In [53]:
cart.append("black_banana")

In [54]:
cart

['apple',
 'orange',
 'Pomgranate',
 'green_chilli',
 100,
 6.32,
 True,
 'Watermelon',
 'black_banana']

In [55]:
cart.pop()

'black_banana'

In [56]:
cart

['apple',
 'orange',
 'Pomgranate',
 'green_chilli',
 100,
 6.32,
 True,
 'Watermelon']

In [57]:
#tuple

In [58]:
empty_tuple = ()

In [60]:
type(empty_tuple)

tuple

In [61]:
empty_tuple = ("Boomi","Anees","Razeeth",3.14,True,108,"Devi","Bala",'Anees',"Boomi")

In [62]:
empty_tuple

('Boomi',
 'Anees',
 'Razeeth',
 3.14,
 True,
 108,
 'Devi',
 'Bala',
 'Anees',
 'Boomi')

In [63]:
empty_tuple[0]

'Boomi'

In [64]:
empty_tuple[2]

'Razeeth'

In [65]:
empty_tuple[2] = "Mohammed"

TypeError: 'tuple' object does not support item assignment

In [66]:
empty_tuple.count("Razeeth")

1

In [68]:
empty_tuple.count("Anees")

2

In [69]:
empty_tuple.index("Bala")

7

In [71]:
#dictionary
#It's a key:Value pair

In [72]:
empty_items = {
    
}

In [73]:
type(empty_items)

dict

In [77]:
empty_items = {
    "Maths":89,"English":90,"Science":100,"Economics":45
}

In [78]:
empty_items

{'Maths': 89, 'English': 90, 'Science': 100, 'Economics': 45}

In [79]:
type(empty_items)

dict

In [80]:
veg = {
    "carrot":2,'Brinjal':9,'water':10,'Tomato':7
}

In [81]:
veg

{'carrot': 2, 'Brinjal': 9, 'water': 10, 'Tomato': 7}

In [82]:
veg.keys()

dict_keys(['carrot', 'Brinjal', 'water', 'Tomato'])

In [84]:
veg.items()

dict_items([('carrot', 2), ('Brinjal', 9), ('water', 10), ('Tomato', 7)])

In [85]:
veg.values()

dict_values([2, 9, 10, 7])

In [86]:
import pandas as pd

In [87]:
pd.DataFrame(data = veg,index=0,)

ValueError: If using all scalar values, you must pass an index

In [95]:
math_std_marks = {
    "Names":["Chandru","Sweety","Kavitha","Boomi",'Devi'],
    "Math":[45,90,67,99,75],
    "Science":[55,90,56,80,78]
}

In [96]:
pd.DataFrame(data=math_std_marks)

     Names  Math  Science
0  Chandru    45       55
1   Sweety    90       90
2  Kavitha    67       56
3    Boomi    99       80
4     Devi    75       78

In [97]:
#TASK

In [98]:
relationship_status = {
    "Names":["Chandru","Lokesh","Boominath","Razeeth","Kadhirvel"],
    "Status":["Single","Engaged","Broked-up","Broke-up","Engaged"],
    "Employed":["No","Yes","No",'No',"Yes"]
}

In [99]:
pd.DataFrame(data = relationship_status)

       Names     Status Employed
0    Chandru     Single       No
1     Lokesh    Engaged      Yes
2  Boominath  Broked-up       No
3    Razeeth   Broke-up       No
4  Kadhirvel    Engaged      Yes

## THE END!!!